body { 
	 color: saddlebrown;
 
 background-color: rosybrown;

font-size: 20px;

 }

a { 
	color: cornsilk;

}

h1 {
	
	border-style: solid;
    border-width: 5px;
    font-family: Copperplate;
    border-radius: 15px;
    padding: .5em;
    text-align: center;

	font-family: Copperplate
}

p { 
	font-family:Rockwell;
font-size: 1em;
font-size: 16.5px;

}	

div#container {
	
	margin: 0 auto;
	width: 800px;
}